@model Password
@{ 
    string labelClass = ViewData["labelClass"] as string ?? "control-label col-md-4";
    string controlClass = ViewData["labelClass"] as string ?? "col-md-8";
}
@using (Html.BeginForm("Save","Password",FormMethod.Post)) { 
    @Html.HiddenFor(m=>m.Id)
    @Html.ValidationSummary(true,"",new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Ip, new { @class = labelClass })
        <div class="@controlClass">
            @Html.EditorFor(m => m.Ip, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Ip, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Domain, new { @class = labelClass })
        <div class="@controlClass">
            @Html.EditorFor(m => m.Domain, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Domain, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Service, new { @class = labelClass })
        <div class="@controlClass">
            @Html.EditorFor(m => m.Service, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Service, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User, new { @class = labelClass })
        <div class="@controlClass">
            @Html.EditorFor(m => m.User, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Passwd, new { @class = labelClass })
        <div class="@controlClass">
            @Html.EditorFor(m => m.Passwd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Passwd, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Url, new { @class = labelClass })
        <div class="@controlClass">
            @Html.EditorFor(m => m.Url, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-offset-4 col-md-8">
            <input type="submit" class="btn btn-primary" value="save" />
    </div>
}